@tailwind base;
@tailwind components;
@tailwind utilities;

/* font setup */
[lang='fa'] body {
 font-family: theme(fontFamily[fa]);
}
[lang='en'] body {
 font-family: theme(fontFamily[en]);
}

@layer base {
 :root {
  --primary: 341.54 75.48% 30.39%;
  --primary-light: 343.4 79.66% 34.71%;
  --primary-dark: 343.1 87.65% 15.88%;
  --primary-foreground: 0 0% 100%;
  --accent: 0 0% 45.1%;
  --accent-light: 0 0% 63.92%;
  --accent-dark: 0 0% 32.16%;
  --accent-foreground: 0 0% 100%;
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
 }
 [data-mode='dark'] {
  --accent: 0 0% 83.14%;
  --accent-light: 0 0% 89.8%;
  --accent-dark: 0 0% 63.92%;
  --accent-foreground: 0 0% 100%;
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
 }
}
